{
  "root": true,
  "extends": "@1stg",
  "rules": {
    "jest/no-conditional-expect": "off",
    "jest/no-standalone-expect": "off"
  },
  "overrides": [
    {
      "files": ".github/*.yml",
      "rules": {
        "unicorn/filename-case": "off"
      }
    }
  ]
}
